body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 800px+30em;
}

header,footer{
    height: 25px;
    flex: 1;
    background: rgba(0, 110, 255, 0.637);

    min-width: 800px+30em;
    /* display: flex;
    align-items: center; */
}

.mainbody{
    display: flex;
    flex: 1;
    min-height: 88vh;
}

.maincontent{
    flex: 1;
    background: rgb(243, 231, 228);
    min-width: 800px;

    border: solid;
    border: 1px;
    padding: 5px;
    /* margin: 5px; */
}

.left , .right{
    flex: 0 0 15em;
    background: rgba(245, 229, 138, 0.89)
}

.left{
    order: -1;
}

.search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: solid;
    border-color: black; */
}

.button {
    background-color: rgba(76, 175, 79, 0.808); /* Green */
    border: none;
    color: white;
    padding: 10px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.buttontext {
    background-color: rgba(195, 202, 195, 0.842); /* Green */
    border: none;
    color: white;
    padding: 10px 28px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    text-align: left;
}

.menu{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;

    margin-right: 0.1em;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.menu:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}